html {
  color: rgb(8, 8, 8)
}


body{
  background-color: #e79947;
  margin: 0;
}


h1{
  font-size: 60px;
  text-align: center;
}


.mainMenu{
  text-align: center;
  padding: 10px;
  font-size: 20px;
}


p{
  font-size: 15px;
  font-family: 'Arial';
  padding: 10px;
  line-height: 1.5;
  margin: 0;
}


.banner{
  border-radius: 10px;
  width: 750px;
}

ul{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 24px;
}


.container {
  background-color: white;
  padding: 50px;
  margin: 60px auto 30px;
  width: 750px;
}
